body {
  background: rgb(236, 236, 236);
}

.main.content {
  transition: 0.2s;
  background-color: white;
  /* margin: 0 auto; */
  margin: 5rem auto;
  max-width: 80ch;
  padding: 1rem 3rem;
  box-shadow: var(--shadow);

  transform: translateX(20%);
  opacity: 0;
}

.main.content h2 {
  color: var(--main_colour);
  font-size: 4rem;
  font-weight: bold;
}

.main.content h3 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
.main.content h4 {
  font-size: 1.75rem;
  margin-bottom: 0;
}
.main.content h5 {
  font-size: 1.75rem;
  margin-bottom: 0;
  color: var(--main_colour);
}

a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--main_colour);
}
a:hover {
  color: black;
}

.dates {
  font-size: 1.5rem;
  margin-top: 0.2rem;
  color: #000 !important;
}

#introName {
  font-size: 3rem;
  margin-bottom: 0;
  color: var(--main_colour);
}

.main.content p,
.main.content li {
  font-size: 1.5rem;
  color: #888;
}

.role.content {
  display: flex;
  flex-direction: row;
}

.panel {
  margin: 0 5% 0 0;
  width: 50%;
}

em {
  color: black;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.results li,
.education li,
.contributions li {
  padding-bottom: 1rem;
}

p {
  line-height: 2rem;
}
.signature {
  color: black !important;
  font-family: "Luxurious Script", cursive;
  font-size: 3rem !important;
  margin-top: 0px;
}

@media screen and (max-width: 700px) {
  .main.content {
    margin: 2rem auto;
    padding: 1.5rem;
  }
  .main.content h2 {
    font-size: 3.5rem;
    margin-top: 1.5rem;
  }
}
