body {
  --footer_height: 5vh;
  --header_height: 5vh;
  --main_colour: #09a;
  --shadow: 6px 8px 5px 5px rgba(136, 136, 136, 0.35);
  margin: 0px;
  width: 100%;
  font-family: "Comfortaa";
  overflow-y: auto;
}

main {
  width: 65%;
  margin: 0 auto;
  min-height: 80vh;
  /* margin-bottom: calc(-1 * var(--footer_height)); */
}
@media screen and (max-width: 700px) {
  main {
    width: 90%;
    margin: 0 auto;
  }
}
